<div>
    <div>
	        {% for day in site.data.schedule %}
        <div>
            <h5>{{ day.dateReadable }}</h5>
			<h4>{{ day.title }}</h4>
            <table>
            {% for timeslot in day.timeslots %}
                    <thead>
                            <tr>
                                <th style="vertical-align:middle">
                                        <div>{{timeslot.startTime}}-{{timeslot.endTime}}</div>
                                </th>
                                {% if timeslot.type == "service" %}
                                    <th>
                                            <p>{{timeslot.title}}</p>
                                    </th>
                                {% else %}
                                    <th>
											<h5>{{timeslot.title}}</h5>
                                            {% if timeslot.speaker %}
                                            <h5 class="accordion">{{timeslot.speaker}}</h5>
											<div class="panel"><p>{{timeslot.abstract}}</P></div>
											{% endif %}
                                            {% if timeslot.chair %}
                                                <h6>Session chair:{{timeslot.chair}}</h6>
                                            {% endif %}
                                    </th>
                                {% endif %}
                            </tr>
                    </thead>
                    {% if timeslot.events %}
                    <tbody>
                        {% for event in timeslot.events %}
                            <tr>
                                <td width="20%">
                                </td>
                                <td>
                                    <p><b>{{event.title}}</b></p>
                                    {% if event.speakers %}
                                    <h5 class="accordion">{{event.speakers}}</h5>
									<div class="panel"><p>{{event.abstract}}</P></div>
									{% endif %}
                                </td>
                            </tr>
                        {% endfor %}
                    </tbody>
                    {% endif %}
            {% endfor %}
            </table>
        </div>
        {% endfor %}

    </div>
	<script>
		var acc = document.getElementsByClassName("accordion");
		var i;
		
		for (i = 0; i < acc.length; i++) {
			acc[i].addEventListener("click", function() {
				this.classList.toggle("active");
				var panel = this.nextElementSibling;
				if (panel.style.maxHeight) {
					panel.style.maxHeight = null;
				} else {
					panel.style.maxHeight = panel.scrollHeight + "px";
				} 
			});
		}	
	</script>
</div>

